In [1]:
# IMPORT LIBRARIES
import numpy as np
import pandas as pd
import import_ipynb
from datetime import datetime

# Import ipynb file
import dataAcq as da

importing Jupyter notebook from dataAcq.ipynb

In [2]:
# IMPORT DATASETS

# England
england11 = da.eng11
england12 = da.eng12
england13 = da.eng13
england14 = da.eng14
england15 = da.eng15
england16 = da.eng16
england17 = da.eng17
england18 = da.eng18
england19 = da.eng19
england20 = da.eng20
england21 = da.eng21

# Spain
spain11 = da.esp11
spain12 = da.esp12
spain13 = da.esp13
spain14 = da.esp14
spain15 = da.esp15
spain16 = da.esp16
spain17 = da.esp17
spain18 = da.esp18
spain19 = da.esp19
spain20 = da.esp20
spain21 = da.esp21

# France
france11 = da.fra11
france12 = da.fra12
france13 = da.fra13
france14 = da.fra14
france15 = da.fra15
france16 = da.fra16
france17 = da.fra17
france18 = da.fra18
france19 = da.fra19
france20 = da.fra20
france21 = da.fra21

# Germany
germany11 = da.deu11
germany12 = da.deu12
germany13 = da.deu13
germany14 = da.deu14
germany15 = da.deu15
germany16 = da.deu16
germany17 = da.deu17
germany18 = da.deu18
germany19 = da.deu19
germany20 = da.deu20
germany21 = da.deu21

# Italy
italy11 = da.ita11
italy12 = da.ita12
italy13 = da.ita13
italy14 = da.ita14
italy15 = da.ita15
italy16 = da.ita16
italy17 = da.ita17
italy18 = da.ita18
italy19 = da.ita19
italy20 = da.ita20
italy21 = da.ita21

In [3]:
# DATA CLEANING

# Remove missing data
all_dfs = (england11, england12, england13, england14, england15,
           england16, england17, england18, england19, england20,
           spain11, spain12, spain13, spain14, spain15,
           spain16, spain17, spain18, spain19, spain20,
           france11, france12, france13, france14, france15,
           france16, france17, france18, france19, france20,
           germany11, germany12, germany13, germany14, germany15,
           germany16, germany17, germany18, germany19, germany20,
           italy11, italy12, italy13, italy14, italy15,
           italy16, italy17, italy18, italy19, italy20)
for df in all_dfs:
    df.dropna(subset=['Date'], axis=0, how='all', inplace=True)
    
# Parse date from string to datetime object
def parse_date(date):
    """
    Converts date from string to datetime object.
    """
    return datetime.strptime(date, '%d/%m/%y').date()

def parse_date_other(date):
    """
    Converts date when strptime layout is different
    """
    return datetime.strptime(date, '%d/%m/%Y').date()
    
# England
england11.Date = england11.Date.apply(parse_date)
england12.Date = england12.Date.apply(parse_date)
england13.Date = england13.Date.apply(parse_date)
england14.Date = england14.Date.apply(parse_date)
england15.Date = england15.Date.apply(parse_date)
england16.Date = england16.Date.apply(parse_date)
england17.Date = england17.Date.apply(parse_date)
england18.Date = england18.Date.apply(parse_date_other)
england19.Date = england19.Date.apply(parse_date_other)
england20.Date = england20.Date.apply(parse_date_other)

# Spain
spain11.Date = spain11.Date.apply(parse_date)
spain12.Date = spain12.Date.apply(parse_date)
spain13.Date = spain13.Date.apply(parse_date)
spain14.Date = spain14.Date.apply(parse_date)
spain15.Date = spain15.Date.apply(parse_date)
spain16.Date = spain16.Date.apply(parse_date)
spain17.Date = spain17.Date.apply(parse_date)
spain18.Date = spain18.Date.apply(parse_date)
spain19.Date = spain19.Date.apply(parse_date_other)
spain20.Date = spain20.Date.apply(parse_date_other)

# France
france11.Date = france11.Date.apply(parse_date)
france12.Date = france12.Date.apply(parse_date)
france13.Date = france13.Date.apply(parse_date)
france14.Date = france14.Date.apply(parse_date)
france15.Date = france15.Date.apply(parse_date)
france16.Date = france16.Date.apply(parse_date)
france17.Date = france17.Date.apply(parse_date)
france18.Date = france18.Date.apply(parse_date)
france19.Date = france19.Date.apply(parse_date_other)
france20.Date = france20.Date.apply(parse_date_other)

# Germany
germany11.Date = germany11.Date.apply(parse_date)
germany12.Date = germany12.Date.apply(parse_date)
germany13.Date = germany13.Date.apply(parse_date)
germany14.Date = germany14.Date.apply(parse_date)
germany15.Date = germany15.Date.apply(parse_date)
germany16.Date = germany16.Date.apply(parse_date)
germany17.Date = germany17.Date.apply(parse_date)
germany18.Date = germany18.Date.apply(parse_date)
germany19.Date = germany19.Date.apply(parse_date_other)
germany20.Date = germany20.Date.apply(parse_date_other)

# Italy
italy11.Date = italy11.Date.apply(parse_date)
italy12.Date = italy12.Date.apply(parse_date)
italy13.Date = italy13.Date.apply(parse_date)
italy14.Date = italy14.Date.apply(parse_date)
italy15.Date = italy15.Date.apply(parse_date)
italy16.Date = italy16.Date.apply(parse_date)
italy17.Date = italy17.Date.apply(parse_date)
italy18.Date = italy18.Date.apply(parse_date)
italy19.Date = italy19.Date.apply(parse_date_other)
italy20.Date = italy20.Date.apply(parse_date_other)

In [4]:
# Extract columns for early predictive analysis
columns_req = ['Div','Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR',
               'HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A']

# England
england11 = england11[columns_req]
england12 = england12[columns_req]
england13 = england13[columns_req]
england14 = england14[columns_req]
england15 = england15[columns_req]
england16 = england16[columns_req]
england17 = england17[columns_req]
england18 = england18[columns_req]
england19 = england19[columns_req]
england20 = england20[columns_req]

# Spain
spain11 = spain11[columns_req]
spain12 = spain12[columns_req]
spain13 = spain13[columns_req]
spain14 = spain14[columns_req]
spain15 = spain15[columns_req]
spain16 = spain16[columns_req]
spain17 = spain17[columns_req]
spain18 = spain18[columns_req]
spain19 = spain19[columns_req]
spain20 = spain20[columns_req]

# France
france11 = france11[columns_req]
france12 = france12[columns_req]
france13 = france13[columns_req]
france14 = france14[columns_req]
france15 = france15[columns_req]
france16 = france16[columns_req]
france17 = france17[columns_req]
france18 = france18[columns_req]
france19 = france19[columns_req]
france20 = france20[columns_req]

# Germany
germany11 = germany11[columns_req]
germany12 = germany12[columns_req]
germany13 = germany13[columns_req]
germany14 = germany14[columns_req]
germany15 = germany15[columns_req]
germany16 = germany16[columns_req]
germany17 = germany17[columns_req]
germany18 = germany18[columns_req]
germany19 = germany19[columns_req]
germany20 = germany20[columns_req]

# Italy
italy11 = italy11[columns_req]
italy12 = italy12[columns_req]
italy13 = italy13[columns_req]
italy14 = italy14[columns_req]
italy15 = italy15[columns_req]
italy16 = italy16[columns_req]
italy17 = italy17[columns_req]
italy18 = italy18[columns_req]
italy19 = italy19[columns_req]
italy20 = italy20[columns_req]

In [5]:
# Add match week (MW) column

def get_matchweek(playing_stat):
    """
    Adds matchweek feature to dataset
    """
    j = 1
    MatchWeek = []
    for i in range(len(playing_stat)):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j += 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

# England
eng11 = get_matchweek(england11)
eng12 = get_matchweek(england12)
eng13 = get_matchweek(england13)
eng14 = get_matchweek(england14)
eng15 = get_matchweek(england15)
eng16 = get_matchweek(england16)
eng17 = get_matchweek(england17)
eng18 = get_matchweek(england18)
eng19 = get_matchweek(england19)
eng20 = get_matchweek(england20)

# Spain
esp11 = get_matchweek(spain11)
esp12 = get_matchweek(spain12)
esp13 = get_matchweek(spain13)
esp14 = get_matchweek(spain14)
esp15 = get_matchweek(spain15)
esp16 = get_matchweek(spain16)
esp17 = get_matchweek(spain17)
esp18 = get_matchweek(spain18)
esp19 = get_matchweek(spain19)
esp20 = get_matchweek(spain20)

# France
fra11 = get_matchweek(france11)
fra12 = get_matchweek(france12)
fra13 = get_matchweek(france13)
fra14 = get_matchweek(france14)
fra15 = get_matchweek(france15)
fra16 = get_matchweek(france16)
fra17 = get_matchweek(france17)
fra18 = get_matchweek(france18)
fra19 = get_matchweek(france19)
fra20 = get_matchweek(france20)

# Germany
deu11 = get_matchweek(germany11)
deu12 = get_matchweek(germany12)
deu13 = get_matchweek(germany13)
deu14 = get_matchweek(germany14)
deu15 = get_matchweek(germany15)
deu16 = get_matchweek(germany16)
deu17 = get_matchweek(germany17)
deu18 = get_matchweek(germany18)
deu19 = get_matchweek(germany19)
deu20 = get_matchweek(germany20)

# Italy
ita11 = get_matchweek(italy11)
ita12 = get_matchweek(italy12)
ita13 = get_matchweek(italy13)
ita14 = get_matchweek(italy14)
ita15 = get_matchweek(italy15)
ita16 = get_matchweek(italy16)
ita17 = get_matchweek(italy17)
ita18 = get_matchweek(italy18)
ita19 = get_matchweek(italy19)
ita20 = get_matchweek(italy20)

C:\Users\End User\.conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [6]:
eng15.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,MW
0,E0,2014-08-16,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,...,9.0,3.0,2.0,2.0,0.0,1.0,1.25,6.5,15.0,1
1,E0,2014-08-16,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,...,3.0,6.0,1.0,1.0,0.0,0.0,3.20,3.4,2.4,1
2,E0,2014-08-16,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,...,4.0,0.0,2.0,4.0,0.0,0.0,1.36,5.0,11.0,1
3,E0,2014-08-16,QPR,Hull,0.0,1.0,A,0.0,0.0,D,...,8.0,9.0,1.0,2.0,0.0,0.0,2.50,3.3,3.1,1
4,E0,2014-08-16,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,...,2.0,8.0,0.0,3.0,0.0,0.0,1.95,3.5,4.5,1

In [7]:
# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Get the number of matchweeks in the season
    mw = max(playing_stat['MW'])
    
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # build dict where value is a list of goals scored per match
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(mw)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2, mw):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored

# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Get the number of matchweeks in the season
    mw = max(playing_stat['MW'])
    
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # build dict where value is a list of goals conceded per match
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals conceded where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(mw)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(1, mw):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_goal_stats(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(len(playing_stat)):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j += 1
        
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

# Apply to each dataset

# England
eng11 = get_goal_stats(eng11)
eng12 = get_goal_stats(eng12)
eng13 = get_goal_stats(eng13)
eng14 = get_goal_stats(eng14)
eng15 = get_goal_stats(eng15)
eng16 = get_goal_stats(eng16)
eng17 = get_goal_stats(eng17)
eng18 = get_goal_stats(eng18)
eng19 = get_goal_stats(eng19)
eng20 = get_goal_stats(eng20)

# Spain
esp11 = get_goal_stats(esp11)
esp12 = get_goal_stats(esp12)
esp13 = get_goal_stats(esp13)
esp14 = get_goal_stats(esp14)
esp15 = get_goal_stats(esp15)
esp16 = get_goal_stats(esp16)
esp17 = get_goal_stats(esp17)
esp18 = get_goal_stats(esp18)
esp19 = get_goal_stats(esp19)
esp20 = get_goal_stats(esp20)

# France
fra11 = get_goal_stats(fra11)
fra12 = get_goal_stats(fra12)
fra13 = get_goal_stats(fra13)
fra14 = get_goal_stats(fra14)
fra15 = get_goal_stats(fra15)
fra16 = get_goal_stats(fra16)
fra17 = get_goal_stats(fra17)
fra18 = get_goal_stats(fra18)
fra19 = get_goal_stats(fra19)
# fra20 = get_goal_stats(fra20)

# Germany
# deu11 = get_goal_stats(deu11)
# deu12 = get_goal_stats(deu12)
# deu13 = get_goal_stats(deu13)
# deu14 = get_goal_stats(deu14)
# deu15 = get_goal_stats(deu15)
# deu16 = get_goal_stats(deu16)
# deu17 = get_goal_stats(deu17)
# deu18 = get_goal_stats(deu18)
# deu19 = get_goal_stats(deu19)
# deu20 = get_goal_stats(deu20)

# Italy
ita11 = get_goal_stats(ita11)
ita12 = get_goal_stats(ita12)
ita13 = get_goal_stats(ita13)
ita14 = get_goal_stats(ita14)
ita15 = get_goal_stats(ita15)
ita16 = get_goal_stats(ita16)
ita17 = get_goal_stats(ita17)
ita18 = get_goal_stats(ita18)
ita19 = get_goal_stats(ita19)
ita20 = get_goal_stats(ita20)

C:\Users\End User\.conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\End User\.conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\End User\.conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\End User\.conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
eng20.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HR,AR,B365H,B365D,B365A,MW,HTGS,ATGS,HTGC,ATGC
0,E0,2019-08-09,Liverpool,Norwich,4,1,H,4,0,H,...,0,0,1.14,10.00,19.00,1,0,0,0,0
1,E0,2019-08-10,West Ham,Man City,0,5,A,0,1,A,...,0,0,12.00,6.50,1.22,1,0,0,0,0
2,E0,2019-08-10,Bournemouth,Sheffield United,1,1,D,0,0,D,...,0,0,1.95,3.60,3.60,1,0,0,0,0
3,E0,2019-08-10,Burnley,Southampton,3,0,H,0,0,D,...,0,0,2.62,3.20,2.75,1,0,0,0,0
4,E0,2019-08-10,Crystal Palace,Everton,0,0,D,0,0,D,...,0,1,3.00,3.25,2.37,1,0,0,0,0

In [9]:
# Retrospective points
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    
def get_cumulative_points(matchres, mw):
    matchres_points = matchres.applymap(get_points)
    for i in range(2, mw+1):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points

def get_match_result(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # build dict where value is list of match results
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
            
    return pd.DataFrame(data=teams, index = [i for i in range(1, max(playing_stat['MW']+1))]).T

def get_agg_points(playing_stat):
    matchres = get_match_result(playing_stat)
    cum_pts = get_cumulative_points(matchres, max(playing_stat['MW']))
    HTP = []
    ATP = []
    j = 0
    for i in range(len(playing_stat)):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j += 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat

# Apply to each dataset

# England
eng11 = get_agg_points(eng11)
eng12 = get_agg_points(eng12)
eng13 = get_agg_points(eng13)
eng14 = get_agg_points(eng14)
eng15 = get_agg_points(eng15)
eng16 = get_agg_points(eng16)
eng17 = get_agg_points(eng17)
eng18 = get_agg_points(eng18)
eng19 = get_agg_points(eng19)
eng20 = get_agg_points(eng20)

# Spain
esp11 = get_agg_points(esp11)
esp12 = get_agg_points(esp12)
esp13 = get_agg_points(esp13)
esp14 = get_agg_points(esp14)
esp15 = get_agg_points(esp15)
esp16 = get_agg_points(esp16)
esp17 = get_agg_points(esp17)
esp18 = get_agg_points(esp18)
esp19 = get_agg_points(esp19)
esp20 = get_agg_points(esp20)

# France
fra11 = get_agg_points(fra11)
fra12 = get_agg_points(fra12)
fra13 = get_agg_points(fra13)
fra14 = get_agg_points(fra14)
fra15 = get_agg_points(fra15)
fra16 = get_agg_points(fra16)
fra17 = get_agg_points(fra17)
fra18 = get_agg_points(fra18)
fra19 = get_agg_points(fra19)
# fra20 = get_agg_points(fra20)

# Germany
# deu11 = get_agg_points(deu11)
# deu12 = get_agg_points(deu12)
# deu13 = get_agg_points(deu13)
# deu14 = get_agg_points(deu14)
# deu15 = get_agg_points(deu15)
# deu16 = get_agg_points(deu16)
# deu17 = get_agg_points(deu17)
# deu18 = get_agg_points(deu18)
# deu19 = get_agg_points(deu19)
# deu20 = get_agg_points(deu20)

# Italy
ita11 = get_agg_points(ita11)
ita12 = get_agg_points(ita12)
ita13 = get_agg_points(ita13)
ita14 = get_agg_points(ita14)
ita15 = get_agg_points(ita15)
ita16 = get_agg_points(ita16)
ita17 = get_agg_points(ita17)
ita18 = get_agg_points(ita18)
ita19 = get_agg_points(ita19)
ita20 = get_agg_points(ita20)

C:\Users\End User\.conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\End User\.conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
eng20.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,B365H,B365D,B365A,MW,HTGS,ATGS,HTGC,ATGC,HTP,ATP
0,E0,2019-08-09,Liverpool,Norwich,4,1,H,4,0,H,...,1.14,10.00,19.00,1,0,0,0,0,0,0
1,E0,2019-08-10,West Ham,Man City,0,5,A,0,1,A,...,12.00,6.50,1.22,1,0,0,0,0,0,0
2,E0,2019-08-10,Bournemouth,Sheffield United,1,1,D,0,0,D,...,1.95,3.60,3.60,1,0,0,0,0,0,0
3,E0,2019-08-10,Burnley,Southampton,3,0,H,0,0,D,...,2.62,3.20,2.75,1,0,0,0,0,0,0
4,E0,2019-08-10,Crystal Palace,Everton,0,0,D,0,0,D,...,3.00,3.25,2.37,1,0,0,0,0,0,0

In [11]:
# Get previous match results
def get_form(playing_stat,num):
    form = get_match_result(playing_stat)
    form_final = form.copy()
    for i in range(num, max(playing_stat['MW'])+1):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]
    
    j = num
    for i in range((num*10),playing_stat.shape[0]):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]  # get past n results
        h.append(past[num-1])   # 0 index is most recent
        
        past = form.loc[at][j]  # get past n results.
        a.append(past[num-1])   # 0 index is most recent
        
        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HM' + str(num)] = h                 
    playing_stat['AM' + str(num)] = a

    
    return playing_stat


def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics

# Apply to each dataset

# England
eng11 = add_form_df(eng11)
eng12 = add_form_df(eng12)
eng13 = add_form_df(eng13)
eng14 = add_form_df(eng14)
eng15 = add_form_df(eng15)
eng16 = add_form_df(eng16)
eng17 = add_form_df(eng17)
eng18 = add_form_df(eng18)
eng19 = add_form_df(eng19)
eng20 = add_form_df(eng20)

# Spain
esp11 = add_form_df(esp11)
esp12 = add_form_df(esp12)
esp13 = add_form_df(esp13)
esp14 = add_form_df(esp14)
esp15 = add_form_df(esp15)
esp16 = add_form_df(esp16)
esp17 = add_form_df(esp17)
esp18 = add_form_df(esp18)
esp19 = add_form_df(esp19)
esp20 = add_form_df(esp20)

# France
fra11 = add_form_df(fra11)
fra12 = add_form_df(fra12)
fra13 = add_form_df(fra13)
fra14 = add_form_df(fra14)
fra15 = add_form_df(fra15)
fra16 = add_form_df(fra16)
fra17 = add_form_df(fra17)
fra18 = add_form_df(fra18)
fra19 = add_form_df(fra19)
# fra20 = add_form_df(fra20)

# Germany
# deu11 = add_form_df(deu11)
# deu12 = add_form_df(deu12)
# deu13 = add_form_df(deu13)
# deu14 = add_form_df(deu14)
# deu15 = add_form_df(deu15)
# deu16 = add_form_df(deu16)
# deu17 = add_form_df(deu17)
# deu18 = add_form_df(deu18)
# deu19 = add_form_df(deu19)
# deu20 = add_form_df(deu20)

# Italy
ita11 = add_form_df(ita11)
ita12 = add_form_df(ita12)
ita13 = add_form_df(ita13)
ita14 = add_form_df(ita14)
ita15 = add_form_df(ita15)
ita16 = add_form_df(ita16)
ita17 = add_form_df(ita17)
ita18 = add_form_df(ita18)
ita19 = add_form_df(ita19)
ita20 = add_form_df(ita20)

C:\Users\End User\.conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\End User\.conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
eng20.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HM1,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5
0,E0,2019-08-09,Liverpool,Norwich,4,1,H,4,0,H,...,M,M,M,M,M,M,M,M,M,M
1,E0,2019-08-10,West Ham,Man City,0,5,A,0,1,A,...,M,M,M,M,M,M,M,M,M,M
2,E0,2019-08-10,Bournemouth,Sheffield United,1,1,D,0,0,D,...,M,M,M,M,M,M,M,M,M,M
3,E0,2019-08-10,Burnley,Southampton,3,0,H,0,0,D,...,M,M,M,M,M,M,M,M,M,M
4,E0,2019-08-10,Crystal Palace,Everton,0,0,D,0,0,D,...,M,M,M,M,M,M,M,M,M,M

In [13]:
# Prepare dataset for predictive analytics
cols = ['Div','Date','HomeTeam','AwayTeam','FTHG','FTAG','HTHG','HTAG','HTR',
        'HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A', 
        'HTGS','ATGS','HTGC','ATGC','HTP','ATP',
        'HM1','HM2','HM3','HM4','HM5','AM1','AM2','AM3','AM4','AM5','MW','FTR']

# England
eng11 = eng11[cols]
eng12 = eng12[cols]
eng13 = eng13[cols]
eng14 = eng14[cols]
eng15 = eng15[cols]
eng16 = eng16[cols]
eng17 = eng17[cols]
eng18 = eng18[cols]
eng19 = eng19[cols]
eng20 = eng20[cols]

eng_ovr = pd.concat([eng11, eng12, eng13, eng14, eng15,
                     eng16, eng17, eng18, eng19, eng20])

# Spain
esp11 = esp11[cols]
esp12 = esp12[cols]
esp13 = esp13[cols]
esp14 = esp14[cols]
esp15 = esp15[cols]
esp16 = esp16[cols]
esp17 = esp17[cols]
esp18 = esp18[cols]
esp19 = esp19[cols]
esp20 = esp20[cols]

esp_ovr = pd.concat([esp11, esp12, esp13, esp14, esp15,
                     esp16, esp17, esp18, esp19, esp20])

# France
fra11 = fra11[cols]
fra12 = fra12[cols]
fra13 = fra13[cols]
fra14 = fra14[cols]
fra15 = fra15[cols]
fra16 = fra16[cols]
fra17 = fra17[cols]
fra18 = fra18[cols]
fra19 = fra19[cols]
# fra20 = fra20[cols]

fra_ovr = pd.concat([fra11, fra12, fra13, fra14, fra15,
                     fra16, fra17, fra18, fra19])

# Germany
# deu11 = deu11[cols]
# deu12 = deu12[cols]
# deu13 = deu13[cols]
# deu14 = deu14[cols]
# deu15 = deu15[cols]
# deu16 = deu16[cols]
# deu17 = deu17[cols]
# deu18 = deu18[cols]
# deu19 = deu19[cols]
# deu20 = deu20[cols]

# deu_ovr = pd.concat([deu11, deu12, deu13, deu14, deu15,
#                      deu16, deu17, deu18, deu19, deu20])

# Italy
ita11 = ita11[cols]
ita12 = ita12[cols]
ita13 = ita13[cols]
ita14 = ita14[cols]
ita15 = ita15[cols]
ita16 = ita16[cols]
ita17 = ita17[cols]
ita18 = ita18[cols]
ita19 = ita19[cols]
ita20 = ita20[cols]

ita_ovr = pd.concat([ita11, ita12, ita13, ita14, ita15,
                     ita16, ita17, ita18, ita19, ita20])

# Combine all new dataset
ovr_data_new = pd.concat([eng_ovr, esp_ovr, fra_ovr, ita_ovr])

# Export new dataset
ovr_data_new.to_csv("ovr_data.csv", index=False, encoding='utf-8-sig')